.page-logo {
    position: relative;
    width: 150;
    height: 80;
    margin: 0;

    & img {
        position: absolute;
        top: calc(50% - 10px);
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.1s ease;
    }
}

:root[saved-theme="dark"] .page-logo {
    &>#whiteLogo {
        opacity: 1;
    }

    &>#blackLogo {
        opacity: 0;
    }
}

:root .page-logo {
    &>#whiteLogo {
        opacity: 0;
    }

    &>#blackLogo {
        opacity: 1;
    }
}